.panel.panel-default.plane-box.col-md-3.col-md-offset-1{ data: { plane_id: plane.id } }
  .panel-body
    %h5= plane.name
    %span.label.label-info= I18n.t("plane.status.#{plane.status}")
    %br
    %br
    = link_to 'On takeoff', takeoff_path(plane_id: plane.id), method: :post, class: 'btn btn-default', remote: true
