%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to 'Runway', :root, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'History', :history
